body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #ff3366, #1a1a1a);
    color: #ffffff;
}

.carousel-item img {
    width: 100%;
    height: 100vh; /* Ajusta la altura al tamaño de la pantalla */
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Asegura que el texto esté encima de la imagen */
}

.register-section {
    background: linear-gradient(135deg, #1a1a1a, #ff3366);
}

.card {
    border: none;
    border-radius: 10px;
}

.card-title {
    color: #ff3366;
}

.footer {
    font-size: 14px;
}
